@font-face {
  font-family: 'Raleway';
  src: url("Raleway-VariableFont_wght.ttf") format("truetype");
}

body, input::-webkit-input-placeholder {
  font-family: "Raleway", Arial, serif;
}

body, input:-ms-input-placeholder {
  font-family: "Raleway", Arial, serif;
}

body, input::-ms-input-placeholder {
  font-family: "Raleway", Arial, serif;
}

body, input::placeholder {
  font-family: "Raleway", Arial, serif;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.container {
  width: 100%;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

.header__nav {
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 100%;
}

.header__nav a:hover {
  color: #0065FC;
  font-weight: bold;
}

.header__nav p {
  height: 100%;
  line-height: 50px;
  vertical-align: middle;
  margin: 0px;
  border-bottom: 2px solid #F2F2F2;
}

.header__nav p:hover {
  border-bottom: 2px solid #0065FC;
}

.header__inscription {
  text-align: right;
  padding-top: 15px;
  color: #0065FC;
  font-weight: bold;
  padding-right: 5%;
}

.header__logo {
  padding-left: 5%;
}

.Recherche {
  padding: 0px 5%;
  width: 90%;
  padding-top: 100px;
}

.Recherche__filtres__txt {
  border: 1px solid #F2F2F2;
  display: inline-block;
  padding: 0px 15px 0px 0px;
  margin: 20px;
  border-radius: 30px;
  font-weight: bold;
}

.Recherche__filtres__icone {
  padding: 15px;
  margin-right: 10px;
  background-color: #DEEBFF;
  border-radius: 30px;
  color: #0065FC;
}

.Recherche__filtres__txt:hover {
  border: 1px solid #0065FC;
  background-color: #DEEBFF;
}

.Recherche__filtres__txt:hover .Recherche__filtres__icone {
  color: white;
  background-color: #0065FC;
}

.Recherche__form {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.Recherche__form div {
  height: 100%;
}

.Recherche__form__bloc-icon {
  height: 50px;
  width: 50px;
  background-color: #F2F2F2;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.Recherche__form__bloc-icon__icon {
  padding: 17px;
}

.Recherche__form__search {
  height: 100%;
  width: 250px;
  border: 1px solid #F2F2F2;
  font-size: 1rem;
  font-weight: bold;
}

.Recherche__form__button--sm {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border-radius: 10px;
  border: none;
}

.Recherche__form__button--sm__icon {
  position: relative;
  padding: 17px;
  background-color: #0065FC;
  color: white;
  border-radius: 10px;
}

.Recherche__form__button--lg {
  visibility: hidden;
}

.fa-info {
  color: #0065FC;
  border: 1px solid #F2F2F2;
  padding: 5px 10px;
  border-radius: 20px;
}

.hebergements {
  width: 100%;
  margin: 30px 0px;
}

.hebergements__populaire {
  background-color: #F2F2F2;
  padding: 0px 5%;
  width: 90%;
}

.hebergements__populaire__title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
}

.hebergements__populaire__card {
  border-radius: 20px;
  margin: 0px auto 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  height: 150px;
  background-color: white;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hebergements__populaire__card__image {
  width: 96%;
  padding-left: 2%;
  padding-top: 2%;
  height: 96%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.hebergements__populaire__card__text {
  padding: 10px 10px 0px 10px;
}

.hebergements__populaire__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hebergements__marseille {
  padding: 0px 5%;
  width: 90%;
}

.hebergements__marseille__card {
  height: 300px;
  border-radius: 20px;
  background-color: white;
  margin: 0px auto 20px auto;
  border: 2px solid #F2F2F2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hebergements__marseille__card__image {
  width: 98%;
  padding-left: 1%;
  padding-top: 1%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements__marseille__card__txt {
  padding-left: 20px;
}

.hebergements__marseille__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hebergements__marseille__afficher {
  font-weight: bold;
}

.fa-chart-line {
  padding-top: 20px;
  margin-left: 10px;
  font-size: 1.3rem;
}

.activites {
  padding: 0px 5%;
  width: 90%;
  margin-bottom: 30px;
}

.activites__card {
  height: 300px;
  border-radius: 20px;
  margin: 0px auto 20px auto;
  border: 2px solid #F2F2F2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.activites__card__img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites__card__txt {
  padding-left: 20px;
  height: 20%;
}

.activites__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  background-color: #F2F2F2;
  margin: 0px;
  padding: 0px;
}

footer li {
  list-style-type: none;
}

footer li a:hover {
  color: #0065FC;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-size: 1.3rem;
}

h4 {
  margin: 0px;
}

@media screen and (min-width: 768px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  header .header__nav {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/ span 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  header .header__nav p {
    border-top: 2px solid white;
    border-bottom: none;
  }
  header .header__nav p:hover {
    border-top: 2px solid #0065FC;
    border-bottom: none;
  }
  header .header__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/ span 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  header .header__inscription {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/ span 1;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: center;
  }
  .Recherche {
    padding-top: 60px;
  }
  .hebergements__marseille {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 50px 1fr 1fr 50px;
        grid-template-rows: 50px 1fr 1fr 50px;
    gap: 20px;
  }
  .hebergements__marseille__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 /span 3;
  }
  .hebergements__marseille__card {
    margin: 0px;
  }
  .activites {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 50px 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 20px;
  }
  .activites__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 /span 2;
  }
  .activites__card {
    margin: 0px;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .header__logo {
    padding-left: 60px;
  }
  .Recherche__filtres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Recherche__filtres__title {
    padding: 15px;
  }
  .Recherche__filtres__txt {
    margin-left: 0px;
  }
  .Recherche__form__button--sm {
    visibility: hidden;
  }
  .Recherche__form__button--sm__icon {
    visibility: hidden;
  }
  .Recherche__form__button--sm__div {
    position: absolute;
  }
  .Recherche__form__button--lg {
    visibility: visible;
    height: 50px;
    float: left;
    z-index: 1;
    background-color: transparent;
    position: relative;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: bold;
  }
  .hebergements {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 40px 3fr;
        grid-template-columns: 7fr 40px 3fr;
    -ms-grid-row: 1;
    grid-row: 1fr;
    padding: 0px 5%;
    width: 90%;
  }
  .hebergements__marseille {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    background-color: #F2F2F2;
    border-radius: 10px;
  }
  .hebergements__marseille__card {
    height: 200px;
  }
  .hebergements__marseille__card__txt p {
    margin: 0px;
  }
  .hebergements__populaire {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 0px 40px;
    width: auto;
    border-radius: 10px;
  }
  .hebergements__populaire__card {
    height: 130px;
  }
  .hebergements__populaire__card__text p {
    margin: 0px;
  }
  .activites {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 50px 200px 200px;
        grid-template-rows: 50px 200px 200px;
  }
  .activites__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 /span 4;
  }
  .activites__card {
    height: auto;
  }
  .activites__card:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/ span 2;
  }
  .activites__card:nth-child(2) .activites__card__img {
    height: 380px;
  }
  .activites__card:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 /span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ span 1;
  }
  .activites__card:nth-child(3) .activites__card__img {
    height: 160px;
  }
  .activites__card:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 /span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/ span 1;
  }
  .activites__card:nth-child(4) .activites__card__img {
    height: 160px;
  }
  .activites__card:nth-child(5) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 /span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/ span 2;
  }
  .activites__card:nth-child(5) .activites__card__img {
    height: 380px;
  }
  .activites__card:nth-child(6) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 /span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ span 1;
  }
  .activites__card:nth-child(6) .activites__card__img {
    height: 160px;
  }
  .activites__card:nth-child(7) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 /span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/ span 1;
  }
  .activites__card:nth-child(7) .activites__card__img {
    height: 160px;
  }
  footer {
    padding-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */